<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Actividad 2 Lab 02</title>
  </head>
  <body>
    <div id="body">
        <h1>SERVICIO DE ADMINISTRACION TRIBUTARIA</h1>
        <p>Para que todos los recursos que se ofrecen en el Sistema electrónico de Servicio 
            de Administración Tributaria tenga el funcionamiento adecuado, es importante que el 
            equipo de cómputo posea como los requerimientos técnicos que se presentan a continuación.  
            Si el usuario cuenta con una computadora personal con las características mencionadas podrá 
            operar y navegar adecuadamente por las páginas generadas por el Sistema SAT.
        </p>
        <h2>Cliente en Línea</h2>
        <p>El Cliente en Línea del Sistema SAT funciona a través de un explorador web estándar, requiere las 
            siguientes características de cómputo en un equipo personal (de escritorio o portátil).
        </p>
        <h2>Hardware recomendado</h2>
        <p>La siguiente tabla muestra los requerimientos mínimos de hardware:</p>
        <table border="solid">
            <thead>
                <tr>
                    <th>Hardware</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Procesador</td>
                    <td>1 GHz (mínimo) 1.5 GHz (recomendado)</td>
                </tr>
                <tr>
                    <td>Disco Duro</td>
                    <td>500 MBytes disponible</td>
                </tr>
                <tr>
                    <td>Periféricos</td>
                    <td>teclado mouse</td>
                </tr>
                <tr>
                    <td>Puertos de Entrada/Salida</td>
                    <td>1 puerto USB</td>
                </tr>
                <tr>
                    <td>Componentes de Red y comunicación</td>
                    <td>Tarjeta Ethernet 100 Mbps Conexión hacia la Internet</td>
                </tr>
                <tr>
                    <td>Monitor</td>
                    <td>Monitor a color con resolución mínima de 1280 x 800.</td>
                </tr>
            </tbody>
        </table>
        <p><i>Impresora</i></br>
            Se recomienda que el equipo de cómputo cuente con acceso a una impresora conectada de manera local, 
            o conectada a través de red de datos.</p>
        <p>La siguiente tabla muestra los requerimientos <i>mínimos</i> de <b>Sistema Operativo,</b> cualquiera de las opciones 
            en la tabla puede ser utilizada:</p>
        <table border="solid">
            <thead>
                <tr>
                    <th>Microsoft Windows</th>
                    <th>Apple</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>Windows Vista (con Service Pack 2 ó posterior)</li> 
                            <li> Windows 7 (con Service Pack 1 ó posterior)</li> 
                            <li>Windows 8.x</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>MAC OS X Lion</li>
                            <li>MAC OS X Snow Leopard</li>
                            <li>MAC OS X Maverick</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Requerimientos mínimos de software:</h3>
        <ul>
            <li>Navegador web; Internet Explorer 8, Mozilla Firefox 14 o Google Chrome 21</li>
            <li>Lector de documentos PDF (Adobe Acrobat Reader).</li>
            <li>Reproductor de videos en formato Flash (Adobe Flash Player).</li>
            <li>Máquina Virtual de Java</li>
            <li>Suite Ofimática que incluya:
                <ul>
                    <li>Procesador de textos.</li>
                    <li>Procesador de textos.</li>
                    <li>Presentaciones electrónicas.</li>
                </ul>
            </li>
        </ul>
    </div>
  </body>
</html>
