<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 3 Lab 1</title>
</head>
<body>
    <h1>UNIVERSIDAD INTERAMERICANA DE PUERTO RICO</h1>
    <hr/>
    <h2>Equipo instalado en las nuevas facilidades de laboratorios:</h2>
    <p>A continuación se presenta la descripción técnica y una ilustración del equipo instalado en las nuevas facilidades del Laboratorio para estudiantes del Recinto:</p>
    <table border="solid">
        <tr>
            <th rowspan="2"><img src="/images/ACTIVIDAD03_01.jpg" style="height:200px;width:200px;" alt="XPS 8700 Performance Desktop" />XPS 8700 Performance Desktop</th>
            <th>Especificaciones</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>4th Generation Intel Core i7 Processor</li>
                    <li>Windows 8.1</li>
                    <li>12GB Memory</li>
                    <li>1TB Hard Drive</li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>