<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Needs css file -->
    <title>Home Page</title>
</head>
<body id='top'>
    <h1>Richard Rosado Ocasio</h1>
     
    <p>
        <img src="images/foto.jpg" alt="Me" width="300" />  <!--Need to place pic and link it this tag--> 
        Empecé como un IT specialist para el Army trabajando mas en el mundo de networking. Pero después de 
        terminar en el ejecito decide cambiar para programación y puede de tener la optunidad de trabajar con Microsoft 
        específicamente Azure Logic apps como un support engineer y después de trabajar hay me motive a empezar mi bachillerato 
        en ciencia de computadoras. 
    </p>
    <hr>
    Esta pagina es para demostrar las técnicas aprendidos el la clase de Comp2025
    <hr>
    <ul>
        <li>
            <a href='#actividad'>Actividades</a>
        </li>
        <li>
            <a href='#mas'>Más sobre mí</a>
        </li>
        <li>
            <a href='#contactarme'>Contactarme</a>
        </li>
    </ul>
    <hr id='actividad'>
        <table border='1'>
            <tr>
                <th>Actividad</th><th>Descripción</th>
            </tr>
            <tr>
                <td>
                    <a href='Actividades/A2Lab1.html'>Actividad 01 - Laboratorio 01</a>
                </td>
                <td>
                    Aplicar los elementos de HTML para párrafos, títulos...
                </td>
            </tr>
            <tr>
                <td>
                    <a href='Actividades/A2Lab2.html'>Actividad 02 - Laboratorio 02</a>
                </td>
                <td>
                    Aplicar los elementos de HTML para párrafos, títulos...
                </td>
            </tr> 
            <tr>
                <td>
                    <a href='Actividades/A3Lab1.html'>Actividad 03 - Laboratorio 01</a>
                </td>
                <td>
                    Aplicar los elementos de HTML para párrafos, títulos...
                </td>
            </tr>
            <tr>
                <td>
                    <a href='Actividades/A3Lab2.html'>Actividad 03 - Laboratorio 02</a>
                </td>
                <td>
                    Aplicar los elementos de HTML para párrafos, títulos...
                </td>
            </tr>
            <tr>
                <td>
                    <a href='Actividades/Act4Lab1.html'>Actividad 04 - Laboratorio 01</a>
                </td>
                <td>
                    Aplicar los elementos de HTML para párrafos, títulos...
                </td>
            </tr>            
        </table>
        <a href='#top'>Top</a>
    <hr id='mas'>
        <h2>Hobbies</h2>
        <ul>
            <li>Skateboarding</li>
            <li>Surfing</li>
        </ul>
        <h2>Destrezas</h2>
        <ul>
            <li>C#</li>
            <li>React</li>
            <li>Python</li>
        </ul>        
        <a href='#top'>Top</a>
    <hr id='contactarme'>
        <table border='1'>
            <tr>
                <td>email</td>
                <td>
                    <a href='email:r.rosadoocasio@gmail.com'>r.rosadoocasio@gmail.com</a>
                </td>
                <td></td>
                <td>Github</td>
                <td>
                    <a href='https://github.com/Richard0923'>github.com/Richard0923</a>
                </td>
            </tr>
        </table>       
        <a href='#top'>Top</a> 
</body>
</html>